<nav class="navbar navbar-expand-sm   sticky-top navbar-light bg-light">
    <div class="container-fluid">
        <a href="#" class="navbar-brand">
            <div class="position-absolute w-50 " style="opacity:0.3; ">
                <svg viewBox="-420 40 1000 200" xmlns="http://www.w3.org/2000/svg">
                    <path fill="#826b58" d="M63.4,-2.2C63.4,21.8,31.7,43.7,3.4,43.7C-24.9,43.7,-49.7,21.8,-49.7,-2.2C-49.7,-26.1,-24.9,-52.3,3.4,-52.3C31.7,-52.3,63.4,-26.1,63.4,-2.2Z" transform="translate(100 100)" />
                  </svg>
                </div>
             <img src="assets/imgs/heading.png"  alt="CoolBrand">
        </a>
        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <div class="navbar-nav ms-auto">
           
               </div>
            <div class="navbar-nav ml-auto">
              <a href="#"  class="nav-item nav-link active" routerLink="/home">Home</a>
                <a href="#" class="nav-item nav-link" routerLink="/aboutus">About Us</a>
                <a href="#" class="nav-item nav-link" routerLink="/gallery">Gallery</a>
                <a href="#" class="nav-item nav-link" routerLink="/facilities">Facilities</a>
                <a href="#" class="nav-item nav-link" style="background-color: rgb(144, 242, 181); border-radius:45%"><b>Login</b></a>
            </div>
        </div>
    </div>
</nav>
