<!-- 
<div >
  &nbsp; &nbsp; &nbsp;  
  <img  src="assets/imgs/trekking.jpg" width="250px" height="250px" 
  style="border-bottom-left-radius: 25%; border-top-left-radius: 42%; border-top-right-radius: 25%; border-bottom-right-radius: 84%;">
</div>
<br>
<br> -->
 <div class="container-fluid">
    <footer class="w-100 py-4 flex-shrink-0">
        <div class="container py-4">
            <div class="row gy-4 gx-5"> 
                <div class="col-lg-4 col-md-6">
                    <h5 class="h3 text-white">Chimmony Eco-Tourism</h5>
                    <p class="small text-muted text-justify" >The dense tropical forests of Chimmini (Chimmony) are home to a plethora 
                        of rare flora and fauna. A two hour drive from Kochi, this gem is situated in the Mukundapuram Taluk 
                        of Thrissur district. The dam provides a picturesque picnic location and is frequented by locals and
                         foreigners alike. Setup in 1984, the Chimmini Wildlife Sanctuary lies contiguous with the
                          Peechi-Vazhani Sanctuary. Visitors can view elephants, sambars, gaurs, Malabar squirrels and 
                          sloth bears strolling about. The Forest Department regularly conducts trekking and bamboo rafting 
                          programs in and around the area.</p>
                    <p class="small text-muted mb-0">&copy; Copyrights. All rights reserved. <a class="text-primary" href="#">Bootstrapious.com</a></p>
                </div>
                <div class="col-lg-2 col-md-6">
                    <h5 class="text-white mb-3">Quick links</h5>
                    <ul class="list-unstyled text-muted">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Facilities</a></li>
                        <li><a href="#">Gallery</a></li>
                    </ul>
                </div>
                <div class="col-lg-2 col-md-6">
                    <h5 class="text-white mb-3">Facilities</h5>
                    <ul class="list-unstyled text-muted">
                        <li><a href="#">Cycling</a></li>
                        <li><a href="#">Turtle Ride</a></li>
                        <li><a href="#">Trekking</a></li>
                        <li><a href="#">Bird Safari</a></li>
                        <li><a href="#">Butterfly viws</a></li>
                    </ul>
                </div>
                <div class="col-lg-4 col-md-6">
                    <h5 class="text-white mb-3">Newsletter</h5>
                    <p class="small text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
                    <form action="#">
                        <div class="input-group mb-3">
                            <input class="form-control" type="text" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="button-addon2">
                            <button class="btn btn-primary" id="button-addon2" type="button"><i class="fas fa-paper-plane"></i></button>
                        </div>
                    </form>
                </div>
            
            </div>
        </div>
    </footer>
</div>