<!-- <div id="container">
    <div id="left"></div>
    <div id="right"></div>
    <p>Alo lorem ipsum i dolor si et amett yes etur adipisicing elit. Magni repellat recusandae quis quam distinctio excepturi tempore odit! Doloribus doloremque quisquam quasi cum deserunt illo neque, ea fugiat unde libero eaque sit. Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni repellat recusandae quisquam distinctio excepturi tempore odit!. Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni repellat recusandae quisquam distinctio excepturi tempore odit! Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni repellat recusandae quisquam distinctio excepturi tempore odit!  Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni repellat recusandae quisquam distinctio excepturi tempore! Magni repellat recusandae amet tempore ...</p>
    </div>
    ................................................. -->

    <div class="container-fluid">
       <div class="row">
        <div class="col-md-12">
            <app-navbar></app-navbar>
        </div>
       </div>
       
    </div>



    <br>
    <hr>
    <br>

    <div class="container-fluid" style="background-image: url(/assets/gallery/nav2.png); background-repeat: no-repeat;background-color: rgb(243.55, 243.55, 243);">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8 shapes">
                
                <div class="hexa gon" routerLink="/trekking" >TREKKING</div>
                <div class="hexa gon">BIRD WATCH</div>
                <div class="hexa gon">BUTTERFLY <br>SAFARI</div>
            </div>
            <div class="col-md-2"></div>
        </div>
        <div class="row" >
            <div class="col-md-3"></div>
            <div class="col-md-6 shapes">
                <div class="hexa gon bg-image" >CORACLE RIDE</div>
                <div class="hexa gon">NIGHT STAY</div>
                
            </div>
            <div class="col-md-3"></div>
        </div>
        
   
</div>
<div>
    
</div>



