<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <app-navbar></app-navbar>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">

            <h2 class="h2" style="font-family: cursive;"><b>Chimmony Dam</b></h2>

            <p style="text-align:justify;  font-family: cursive;" class="h5" >  
              <img   class="img img--cakes w-25 me2"  src="assets/gallery/ele3.png">
            <img class="image-fluid w-25 me1"   src="assets/gallery/but1.png">
               Established in the year 1996, 
                the Chimmini dam is located in Mukundapuram Taluk in Echippara in the district of Thrissur
                 of Kerala. The dam is built across the Chimoni River which is a tributary of the river Karuvannur. This is the largest 
                 dam in the district. Surrounded by three wildlife sanctuaries, hills, and greeneries, the place is enjoyed by locals as 
                 well as foreigners. You can visit here during the daytime but there is much to explore in the evening. There is an area 
                 that grows medicinal plants that are not so well maintained. The view of the dam is accompanied by a cloudy sky above is
                  something that you always search for within nature. The Chimmini Dam is proffered by tourists mainly of its quiet and 
                  less crowded surroundings. The nearby Chimmini wildlife sanctuary is contiguous to the Peechi Vazhani Sanctuary and can
                   be explored along with the dam. There you can spot elephants, sambars, sloth bears, barking dears, and many other 
                   species of birds and insects. The largest butterfly can be spotted here if you are lucky enough.<br><br>
                   Close to Peechi Dam and Mangalam Dam, the Chimmony Dam provided water supply for drinking and forming to the nearly by 
                   villages. Situated on Nelliyampathy slopes of Western Ghats, Chimmony Dam is a place with immense natural beauty.
                    Boating is also available in the reservoir.<br><br>

                   It can be reached via Varandarappilly & Palappilly from Thrissur. It has limited public transportation. 
                   Best way to reach the dam is to hire private vehicle from Varandarappilly.</p>
                 
        </div>
    </div>
    
<!--icons.......................................-->
    <div class="container">       
        <div class="row">
            <div class="col-md-3" style="cursor:pointer">

           

                <div class=" row  " >
                  <div class="col-sm-6 card1 crd1">         
                    <span id="boot-icon" class="bi bi-geo-alt"  (click)="openPopup()"></span>                    
                  </div>
                </div>
                
                <div class=" row  ">
                  <div class="col-sm-6 card2 crd1">         
                    <span id="boot-icon" class="bi bi-star"  (click)="openPopup()" ></span>                    
                  </div>
                </div>
                
                <div class=" row  ">
                  <div class="col-sm-6 card3 crd1">         
                    <span id="boot-icon" class="bi bi-hourglass-split"  (click)="openPopup()" ></span>                    
                  </div>
                </div>
                
                <div class=" row  ">
                  <div class="col-sm-6 card4 crd1">         
                    <span id="boot-icon" class="bi bi-signpost-split flipchar"  (click)="openPopup()" ></span>                    
                  </div>
                </div>
                
                
                <div class=" row  ">
                  <div class="col-sm-6 card5 crd1">         
                    <span id="boot-icon" class="bi bi-truck"  (click)="openPopup()" ></span>                    
                  </div>
                </div>
                
             
               </div>
          
            <div class="col-md-9" style="float:left;">
                <div class="position-absolute w-100 "  style="opacity:0.3; position: absolute;">
                    <svg viewBox="40 85 135 160" 
                    xmlns="http://www.w3.org/2000/svg">
                        <path fill="#826b58" d="M63.4,-2.2C63.4,41.8,43.7,43.7,3.4,23.7C-80.9,43.7,-49.7,1.8,-49.7,-2.2C-49.7,-26.1,-79.8,-52.3,9.4,-52.3C39.7,-29.3,93.4,-96.1,63.4,-2Z" transform="translate(100 100)" />
                      </svg>
                    </div>
                <h4  style="font-family: cursive;" ><b>Things to see</b></h4>
                   <p style="float:left;text-align:justify; font-family: cursive;text-indent: 50px;" class=" p"> <b>C</b>himmony is not explored much. Not many people know about the pristine beauty of Chimmony Wildlife Sanctuary. Chimmony is located at a distance of 60 km from Kochi International Airport and 36 km from Thrissur town.

                    The climate here is very nice. From December to April the climate is warm and from May to November its cool. Highest temperature during March and April goes upto 24 to 30 degree Celsius. Monsoon is during the month of June and July.
                    
                    During cold the temperature decreases upto 15 degrees. There is an artificial Dam in here. The place has evergreen, semi evergreen and leaf shedding forests. Best time to visit is from September to March.</p>
                </div>            
            <!-- <div class="col-md-3"></div> -->
        </div>
    </div>
    <br><br>

    <div class="container-fluid" style="margin-top: 10%;" >               
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <!--first card.......................-->
            <div class="col-md-3 mt-4">
    		    <div class="card profile-card-5">
    		        <div class="card-img-block">
    		            <img class="card-img-top" src="assets/gallery/chi9.jpg" alt="Card image cap">
    		        </div>
                    <div class="card-body pt-0">
                    <h5 class="card-title">Coracle Ride</h5>
                    <p class="card-text">Visitors to Chimmini Dam and Wildlife Sanctuary can now enjoy a coracle ride to get a closer view of the forest surroundings...

                      
                  </div>
                </div>
                <p class="mt-3 w-100 float-left text-center"><strong>Card with Floting Picture</strong></p>
    		</div>
            <!--second card.................................-->
            <div class="col-md-3 mt-4">
    		    <div class="card profile-card-5">
    		        <div class="card-img-block">
    		            <img class="card-img-top" src="assets/gallery/ele2.jpg" alt="Card image cap">
    		        </div>
                    <div class="card-body pt-0">
                    <h5 class="card-title">Wildlife Sanctuary</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    
                  </div>
                </div>
                <p class="mt-3 w-100 float-left text-center"><strong>Card with Floting Picture</strong></p>
    		</div>
            <!--third card....................-->
            <div class="col-md-3 mt-4">
    		    <div class="card profile-card-5">
    		        <div class="card-img-block">
    		            <img class="card-img-top" src="assets/gallery/chi1.jpg" alt="Card image cap">
    		        </div>
                    <div class="card-body pt-0">
                    <h5 class="card-title">Florence Garza</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    
                  </div>
                </div>
                <p class="mt-3 w-100 float-left text-center"><strong>Card with Floting Picture</strong></p>
    		</div>
             <!--Forth card....................-->
             <div class="col-md-3 mt-4">
    		    <div class="card profile-card-5">
    		        <div class="card-img-block">
    		            <img class="card-img-top" src="assets/gallery/for1.jpg" alt="Card image cap">
    		        </div>
                    <div class="card-body pt-0">
                    <h5 class="card-title">Florence Garza</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    
                  </div>
                </div>
                <p class="mt-3 w-100 float-left text-center"><strong>Card with Floting Picture</strong></p>
    		</div>
            <!-- <div class="col rounded-top rounded-9">
              <div class="card h-100 rounded-9">
                <img src="assets/gallery/ele2.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Wild Life</h5>
                  <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card h-100">
                <img src="assets/gallery/for1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Nature of Place</h5>
                  <p class="card-text">This is a short card.</p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card h-100">
                <img src="assets/gallery/cor1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Facilities</h5>
                  <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
                </div>
              </div>
            </div> -->
            <!-- <div class="col">
              <div class="card h-100">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
              </div>
            </div> -->
          </div>
          <div  class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayStyle}">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header" style="background-image: url('/assets/gallery/chi1.jpg'); height: 50%; ">
                
                <h3>Welcome...</h3>
              </div>
              <div class="modal-body row">
              <div class="col-md-6">
                <img src="assets/gallery/chi1.jpg" height="100%" width="100%">
                <!-- <img src="assets/gallery/modal_icon/distance.png" height="70%" width="100%"> -->
               
              </div>
              <div class="col-md-6">
                <br>
                <h5>India | Kerala | Thrissur</h5>
                <h5>Distance: 36km</h5>  
                <button type="button" class="btn btn-danger ml-auto" 
                        (click)="closePopup()">
                  Close
                </button> 
              </div>      
              </div>
              <div class="modal-footer" style="background-image: url('/assets/gallery/chi1.jpg'); ">
                
              </div>
            </div>
          </div>
        </div>
    </div>
    <app-main-footer></app-main-footer>
