<h6 class="text-primary"><b></b></h6>

         
            <div class="col-md-12">
                           
                <div class="row">
    <!-- <div class="col-sm-3 " *ngFor="let user of userscount" >
        <div class="card shadow widget " style="  height: 100px;  color: #1c87c9; ">
            <div class="card-block" style=" font-size: larger; ">
                <h4 class="h4 card-title" >{{count1}}</h4>
                <h4 class="h4 card-text" ><b>{{user.user1}}</b></h4>
                </div>
                
        </div> -->
        <div class="col-sm-3 " >
            <div class="card shadow widget " style="  height: 100px;  color: #1c87c9; ">
                <div class="card-block" style=" font-size: larger; ">
                    <h4 class="h3 " style="color: rgb(214, 150, 150);"><b>{{count1}}</b></h4>
                  
                    <h5 class="h5 card-text" >Active Companys</h5>
                </div>                    
            </div>
        </div>
        <div class="col-sm-3 " >
            <div class="card shadow widget " style="  height: 100px;  color: #1c87c9; ">
                <div class="card-block" style=" font-size: larger; ">
                    <h4 class="h3" style="color: rgb(108, 240, 187);"><b>{{count2}}%</b></h4>
                  
                    <h5 class="h5 card-text" >Revenue</h5>
                </div>                    
            </div>
        </div>
        <div class="col-sm-3 " >
            <div class="card shadow widget " style="  height: 100px;  color: #1c87c9; ">
                <div class="card-block" style=" font-size: larger; ">
                    <div class="row">
                        <div class="col"> <h4 class="h3" style="color: rgb(171, 171, 248);" ><b>{{count3}}.55%</b></h4></div>
                     
                    </div>
                   
                    <h5 class="h5 card-text" >Product Sales</h5>
                </div>                    
            </div>
        </div>
        <div class="col-sm-3 " >
            <div class="card shadow widget " style="  height: 100px;  color: #1c87c9; ">
                <div class="card-block" style=" font-size: larger; ">
                    <h4 class="h3 " style="color: rgb(253, 138, 138);" ><b>{{count4}}%</b></h4>
                  
                    <h5 class="h5 card-text" >Overall Profit</h5>
                </div>                    
            </div>
        </div>
</div></div>
        