
<app-facilities></app-facilities>
<br>
<div class="container main1">
    <div class="row " style="background-color: rgb(238, 238, 248);" >
        <div class="col-md-6 ">
            <h3 class="h3 text-uppercase fw-bold" style="font-family: luminary,cursive; float: left;">Keep...Moving...Forward...</h3>
            <img  src="assets/gallery/comp_icon/tre5.png" style="float: left;">
        </div>
        <div class="col-md-6 " >
            <button id="btncheck"  type="button" class="btn btn-outline-info btn-circle btn-lg btn-circle ml-2" >For Booking</button>               
        </div>
     
    </div>
    <div class="row">
        <div class="col-md-12 " style="text-indent: 2rem; ">
            <p class=" text-justify">
                <img class="w-25 me2" style="float: right;" src="assets/gallery/tre2-p.png">
            <b>T</b>he Chimmony Wildlife Sanctuary has a wide variety of flora which includes three primary forest types of tropical 
            rainforest, most deciduous and semi-evergreen forests. It has some of the rarest and endangered orchid species in 
            the entire world with the likes of Osmunda Raogans and Habomaria Rariflora. A large number of endangered trees like 
            Diospysus Nilgirica and Hydrophylla Erecta are found splattered across the forest. There are a reported 39 species of 
            mammals, 192 species of birds, 31 fish, 14 amphibians and 25 different species of reptiles have been reported to be 
            inhabiting the sanctuary along with the migratory birds who drop in during winters. Some exquisite mammals found in 
            this sanctuary are barking deer, slender Loris porcupine and Indian bison. The endangered species of tiger, leopard,
             elephant, sambhar are also present in abundance. The main attraction is for aviary experts as this place boasts of an
              unforgettable variety of birds. Some of which are almost impossible to find across the globe. The prominent jewels of
               this diverse array of birds are lesser fish eagle, Loten’s sunbird, Malabar whistling thrush, broad billed roller, 
               ashy minivet et al, the endemic primate species lion-tailed langur and the red-listed Indian giant squirrel is also 
               found here.All in all an amazing trip though the local wildlife would guarantee any wildlife explorer of a trek to
                remember.
                </p>
        </div>
    </div>
    <div class="row " style="background-color: rgb(238, 238, 248);" >
        <div class="col-md-12 ">
            <h3 class="h3 text-uppercase fw-bold" style="font-family: luminary,cursive; float: right;">A Trek through Forest</h3>
            <img  src="assets/gallery/comp_icon/tig5.png" style="float: right;">
        </div>
     
    </div>
    <div class="row">
        <div class="col-md-12 " >
            <p class=" text-justify" style="text-indent: 2rem; "> <b>H</b>ere would be a guide, to guide you through the forest trails and lead you safely through your trek. Moreover, wild 
            animals are not usually frequent along the trail of the trek. So stop fretting, go get your bookings and brush up on 
            your knowledge of biology. You are in for the treat of your life at Chimmony.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
        </div>
    </div>
</div>
<br><br><br>
<app-main-footer></app-main-footer>